body,html{
    margin: 0 ;
    padding: 0;
    font-family: 'MarkerFelt','Roboto';
    color: white;        
}
*{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

@font-face{
    font-family: 'MarkerFelt';
    src:url(../font/Marker\ Felt.ttf);
}
ul{
    padding:0;
    margin:0;
}

ul>li{
    list-style:none;
    display:inline-block;
}

a{
    text-decoration: none;
    color:inherit;
}


.layout-flex{
    display:flex;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}
.flex-space-between{
    justify-content: space-between;
}

.flex-space-around{
    justify-content: space-around;
}

.flex-center{
    justify-content: center;
}
.flex-wrap{
    flex-flow:wrap;
}

.flex-item-center{
    align-items:center; 
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.layout-grid{
    display: grid;    
}
.g-1{
    grid-template-columns: 1fr;
}
.g-2{
    grid-template-columns: 1fr 1fr;
}

.g-3{
    grid-template-columns: 1fr 1fr 1fr;
}

.g-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-gap-1{
    grid-gap: 1px;
    border:0.5px #313131 solid
}


/* header */

header{
    width:100%;    
    font-size: 20px;   
    color: white; 
    font-weight: 500;   
    letter-spacing: 1px;
    margin: auto;
    font-family: 'Markerfelt';
    height:auto;    
    background-color:#313131;
    
}
.inner-header {
    padding: 0;    
    height:80px;
    margin: 0 auto;
}
.page a{
    padding: 0 10px;
}
.page a:first-child{
    border-right: 2px #FFf solid;
}

.search input{
    border-radius: 50px;
    padding:10px 40px;
    width: 400px;
    font-size: 20px;
    font-family: 'MarkerFelt';
    
}

main{
   margin-top: 80px;
}
.homepage{
    width: 100%;
    height: 600px;
    position: relative;
    height:800px;    
    
}
.homepage::after {
    content: "";
    background:url(../img/iskador.jpg);
    background-size: cover;    
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
.heart h1,p{
    padding: 5px;
    margin: 0;        
}
.heart{
    position: absolute;
    top:10px;
    left: 10px;
    font-family: 'Roboto';
    max-width: 200px;
    text-align: center;
}
.heart h1{
    font-size: 30px;
    border-bottom: 3px red solid;
}
.heart p{
    font-size: 20px;
    
}
.homepage-size{
    padding: 30px;
    padding-top: 70px;
}
.para-bottom{
    position: absolute;
    bottom: 0;
    font-size: 30px;
    padding: 30px;    
    padding-left:100px ;
}
.para-bottom h1{
    font-size: 40px;
}
.para-bottom p{
    margin-top: 30px;
    text-align: center;
    padding-left: 50px;
    padding-bottom: 30px;
}

/* section photo */

section{
    width: 100%;
    height: 1000px;
    margin-top: 2px;
}

.frame{
    position: relative;
}
.first_frame img{
    width: 100%;
    height: 500px;
    position: relative;    
}

.bottom{
    position: absolute;
    bottom: 10px;
    left: 30px;
}

.second_frame img{
    width:100%;
    height: 700px;
    position: relative;  
}

.second_frame_bottom img{
    width: 100%;
    height: 300px;
    position: relative;  
}
.third_frame img{
    width: 100%;
    height: 300px;
    position: relative;  
}
.third_frame_bottom img{
    width: 100%;
    height: 700px;
    position: relative;  
}
.four_frame img{
    width: 100%;
    height: 1000px;
    position: relative;  
}


.forward{
    background: #726f6f;
    
}
.note a {
    background: Red;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #313131;
}

main .view{
    width: 100%;
    height: 100vh;
    position: relative;         
    font-size: 30px;
    margin:auto;
}

.view-bottom{
    text-align: center;
    flex-direction: column;
}
.view-heart h1:first-child{
    border-bottom:3px red solid;
}
.view-heart h1{
    padding: 10px;
    font-size: 30px;
}
.profile{
    padding: 20px;
    width: 700px;
    margin-bottom: 30px;
}
.profile img{
    height: 50px;
    max-width: 50px;    
    border-radius: 50%;
    border: 5px solid white;
    
}
.profile h2{
    font-size: 20px;    
    padding-left: 10px;
}


@media (max-width: 1100px) {  
    .Frame.g-4{
        display: grid!important;
        grid-template-columns: 1fr 1fr !important;
    }    
}
@media (max-width: 576px) {  
    .Frame.g-4{
        text-align: center;
        grid-template-columns:  1fr !important;
    } 
    .heart{
        left:50px ;
    }
    .bottom{
        left:50px;
    }
}
@media (max-width: 699px) {  
    .para-bottom{
        padding-left: 50px;
        font-size: 25px;
    }
    .profile{
        padding: 20px;
        width: 500px;
    }
    .view{
        font-size: 25px;
    }
    header{
        font-size: 16px;
    }
    .search input{
        padding: 10px 30px;
        width: 200px;
    }
 
}
